extends ./layout.jade

block content
    h2 this is vrsify
    p a simple web app for sharing God's word.
    form
        select(name='book')
            each book in booklist
                option(value=book) #{book}
        input(type='text', name='chapter', placeholder='1')
        input(type='text', name='verse', placeholder='1')
        button#submit Go
    br
    br
    p(style='font-size: 17px;').
        note: this is still in development. Take a look at #[a(href='/plans') where things are headed] if you want to know what's coming.

block scripts
    script(src='/js/submit.js')
        
