extends ./layout.jade

block content
    h2 where things are headed
    p.
        This project is still under development. This is a rough outline of some of the features I'm hoping to add soon.
    br
    ul
        li highlighting (this works on the client side currently)
        li custom sharable links
        li facebook opengraph integration
        li social sharing links
        li custom backgrounds
    br
    br
    p.
        Currently I'm developing this app solo, so more features might take a while to show up. If you want to get involved, #[a(href='http://jaydenwindle.github.io#contact') hit me up].
