@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

body {
    text-align: center;
}

h2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 50px;
    margin-bottom: 60px;
    margin-top: 10%;
}
p {
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    line-height: 160%;
}

.esv {
    margin-bottom: 10%;
}

.verse-num, .chapter-num {
    font-size: 15px;
    font-family: 'Libre Baskerville', sans-serif;
    line-height: 160%;
    vertical-align: text-top;
}

input {
    width: 50px;
    text-align: center;
}

input, select {
    margin-left: 5px;
    margin-right: 5px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
